#canvas_bg{
	position: relative;
	z-index: 50;
	opacity: 0.6;
	display: flex;
}

#div_bg{
	position: relative;
	z-index: 1;
}




@keyframes satellite_rotate{
	to{
		transform:rotate(1turn);
	}
}

@keyframes satellite_click{
	0% {
	}
	12.5% {
		transform:scale(1.382,1.382);
		opacity: 0;
		}
	25% {
		transform:scale(1,1);
		opacity: 1;
		transform:rotate(0.5turn);				
		}
	37.5% {
		transform:scale(0.618,0.618);
		opacity: 0;
		}
	50% {
		transform:scale(1,1);
		opacity: 1;
		transform:rotate(1turn);		
	}
	52.5% {
		transform:scale(1.382,1.382);
		opacity: 0;
		}
	75% {
		transform:scale(1,1);
		opacity: 1;
		transform:rotate(1.5turn);				
		}
	87.5% {
		transform:scale(0.618,0.618);
		opacity: 0;
		}
	100%{
		transform:scale(1,1);
		opacity: 1;
		transform:rotate(2turn);		
	}
}



.satellite
{
	opacity: 0.618;
	animation-name: satellite_rotate;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
	position: absolute;
	z-index: 100;
}

.satellite:hover
{
	opacity: 1;
	animation-duration: 2s;
}

.satellite:active
{
	animation-name: satellite_click;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


#div_button
{
	width: 50px;
	height: 50px;
	border: 2px solid;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	cursor: pointer;
	transform: translate(-50%,-50%);
	position: absolute;
	z-index: 50;
	background-color: blue;
	opacity: 0.618;
}

.button_canvas{
	position: absolute;
}
 